// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@font-face {
  font-family: 'Neuzeit Grotesk Regular';
  src: url("../fonts/2FC76B_3_0.woff2") format("woff2"), url("../fonts/2FC76B_3_0.woff") format("woff"), url("../fonts/2FC76B_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: url("../fonts/2FC76B_4_0.woff2") format("woff2"), url("../fonts/2FC76B_4_0.woff") format("woff"), url("../fonts/2FC76B_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Neuzeit Grotesk Condensed';
  src: url("../fonts/2FC76B_5_0.woff2") format("woff2"), url("../fonts/2FC76B_5_0.woff") format("woff"), url("../fonts/2FC76B_5_0.ttf") format("truetype");
}