@media print {
    body {
        padding-top: 0px;
    }
    .noPrint {
        display:none;
      }
    .noPrintAlt{
        display:block;
      }
    .pageBreak{
        page-break-after: always!important;
    }
}